In [2]:
import sys
import math
import pandas as pd


# Auto-generated code below aims at helping you parse
# the standard input according to the problem statement.
lst_oper = []
lst_arg1 = []
lst_arg2 = []
n = int(input())
for i in range(n):
    operation, arg_1, arg_2 = input().split()
    lst_oper.append(operation)
    arg = [operation,arg_1,arg_2]
    lst_arg1.append(arg)
    #lst_arg1.append(arg_2)
    lst_arg2.append(arg_2)

2
VALUE 3 _
ADD $0 4

In [10]:
df = pd.DataFrame(lst_arg1)
df

       0   1  2
0  VALUE   3  _
1    ADD  $0  4

In [15]:
#print(type(arg_1))
#print(lst_oper)


k = 0
print(lst_arg1)
df = pd.DataFrame(lst_arg1)
print(df)
#print(lst_arg2)
print(type(m))
while k < len(range(n)):
    print(k,len(range(n)))
    for i in range(n):
        print(df[1][i],df[2][i])
        print(df[1][i].isdigit(),df[2][i].isdigit() or df[2][i] == '_')
        if df[0][i] != 'SOLVED' and (df[1][i].isdigit() and (df[2][i].isdigit() or df[2][i] == '_')):
            print(df[0][i])
            if df[0][i] == 'VALUE':
                df[1][i] = df[1][i]
            elif df[0][i] == 'ADD':
                df[1][i] = df[1][i] + df[2][i]
            elif df[0][i] == 'SUB':
                df[1][i] = df[1][i] - df[2][i]
            elif df[0][i] == 'MULT':
                df[1][i] = df[1][i] * df[2][i]
            df[0][i] = 'SOLVED'
            k +=1
            print('k = ',k,df[0][i])
        print(df[1][0][1:])
        print(df[1][1][1:])

        print('HERE 0',df[0][i])
        print('HERE 1',df[1][i][0])

        if df[0][i] != 'SOLVED' and df[1][i][0] == '$':
            #Check if and change the values where $ is found COLUMN 1 
            if df[0][df[1][i][1:] == 'SOLVED':
            print(int(df[1][i][1:]))
                    #print(df[1][i][1:])

        elif df[0][i] != 'SOLVED' and df[2][i][0] == '$':
            #Check if and change the values where $ is found COLUMN 2
            if df[0][df[2][i][1:] == 'SOLVED':
            print(int(df[2][i][1:]))
            #                    df[2][i] = df[1][df[2][i][1:]]  

#for i in range(n):
    

    # Write an action using print
    #To debug: print("Debug messages...", file=sys.stderr)
    
print(df)

SyntaxError: invalid syntax (<ipython-input-15-e64a34ebd518>, line 35)